div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 85, 85);
  height: 30%;
}

.clear {
  color: #333;
  background-color: rgb(236, 155, 155);
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
.clear:hover {
  color: white;
  background-color: #ee94b2;
}